<section class="language-preferences">
  <app-format-select
    name="appLanguage"
    [label]="appLanguageLabel()"
    [options]="appLanguageOptions()"
    [value]="appLanguage()"
    (valueChange)="appLanguageChange.emit($event)"
  />

  <app-format-select
    name="cardLanguage"
    [label]="cardLanguageLabel()"
    [options]="cardLanguageOptions()"
    [value]="cardLanguage()"
    (valueChange)="cardLanguageChange.emit($event)"
  />

  @if (cardLanguageDisclaimer(); as disclaimer) {
    <p class="app-disclaimer-callout">{{ disclaimer }}</p>
  }
</section>
