:host {
  display: grid;
  grid-template-rows: minmax(0, 1fr) auto;
  min-height: var(--cz-mobile-viewport-height);
}

.app-route-frame {
  display: grid;
  min-width: 0;
  min-height: var(--cz-mobile-viewport-height);
}

.app-route-frame-with-noindex-disclaimer {
  min-height: var(--cz-mobile-viewport-height);
}

.app-route-frame > router-outlet {
  display: none;
}

