<div class="app-route-frame" [class.app-route-frame-with-noindex-disclaimer]="showNoindexDisclaimer()">
  <router-outlet />
</div>

@if (showFooterDisclaimer()) {
  <app-footer-disclaimer />
}

@if (showNoindexFooterDisclaimer()) {
  <app-noindex-footer-disclaimer />
}

<app-cookie-consent-banner />

@if (showGlobalLoading()) {
  <div class="global-loader" role="status" aria-live="polite" [attr.aria-label]="'common.app.app.loading' | runtimeTranslate">
    <div class="spinner"></div>
  </div>
}
