/.idea/
/.vscode/
/.DS_Store
/backend/.env.local
/backend/.env.local.php
/backend/.env.*.local
/backend/config/secrets/prod/prod.decrypt.private.php
/backend/config/jwt/*.pem
/backend/config/reference.php
/backend/public/bundles/
/backend/var/
/backend/vendor/
/backend/phpunit.xml
/backend/.phpunit.cache/
/backend/Caddyfile.prod
/frontend/node_modules/
/frontend/dist/
*.log

/.env.prod
/.env
/docker-compose.prod.yml
/.tmp/
