<div class="table-center-logo">
  <button
    class="brand-mark table-logo-button"
    type="button"
    [attr.aria-label]="'tableAssistant.tableAssistantTableMenu.opcionesDePartidaDeCommanderzone' | runtimeTranslate"
    (click)="toggleMenu()"
  >
    {{ 'tableAssistant.tableAssistantTableMenu.cz' | runtimeTranslate }}
  </button>
  @if (menuOpen()) {
    <div class="table-exit-menu" role="dialog" [attr.aria-label]="'tableAssistant.tableAssistantTableMenu.opcionesDePartida' | runtimeTranslate">
      <button class="menu-action primary" type="button" (click)="selectNewTable()">
        {{ 'tableAssistant.tableAssistantTableMenu.nuevaPartida' | runtimeTranslate }}
      </button>
      <button class="menu-action" type="button" (click)="selectRoll()">{{ 'tableAssistant.tableAssistantTableMenu.tirarDado' | runtimeTranslate }}</button>
      <button class="menu-action" type="button" (click)="selectFullscreen()">
        {{ 'tableAssistant.tableAssistantTableMenu.pantallaCompleta' | runtimeTranslate }}
      </button>
      <button class="menu-action" type="button" (click)="selectDashboard()">
        {{ 'tableAssistant.tableAssistantTableMenu.salirAlDashboard' | runtimeTranslate }}
      </button>
      <button class="menu-action subtle" type="button" (click)="closeMenu()">{{ 'tableAssistant.tableAssistantTableMenu.seguirJugando' | runtimeTranslate }}</button>
    </div>
  }
</div>
