<div
  class="submenu"
  [class.expanded]="expanded()"
  [class.direction-up]="direction() === 'up'"
  [class.side-left]="side() === 'left'"
  [class.child-side-left]="childSide() === 'left'"
>
  <button type="button" class="submenu-trigger" [attr.aria-expanded]="expanded()" (click)="toggle($event)">
    <span class="submenu-item-label">
      @if (icon()) {
        @if (isCounterPillIcon(icon()!)) {
          <span class="submenu-item-counter-pill-icon" aria-hidden="true">{{ 'game.contextSubmenu.x' | runtimeTranslate }}</span>
        } @else if (isGraveyardAssetIcon(icon()!)) {
          <img class="submenu-item-image-icon submenu-item-graveyard-icon" [src]="icon()!" alt="" aria-hidden="true" draggable="false" />
        } @else if (isAssetIcon(icon()!)) {
          <img class="submenu-item-image-icon" [src]="icon()!" alt="" aria-hidden="true" draggable="false" />
        } @else {
          <lucide-icon [name]="icon()!" size="17" aria-hidden="true" />
        }
      }
      <span>{{ displayLabel(label()) }}</span>
    </span>
    <span class="submenu-arrow" aria-hidden="true">&rsaquo;</span>
  </button>

  @if (expanded()) {
    <div class="submenu-panel" role="menu">
      @for (item of items(); track item.value) {
        <div class="submenu-item">
          <button
            type="button"
            role="menuitem"
            [disabled]="item.disabled"
            [class.danger-menu-item]="item.danger"
            [class.submenu-item-image-only]="item.imageOnly"
            (click)="selectItem($event, item)"
          >
            <span class="submenu-item-label">
              @if (item.icon) {
                @if (isCounterPillIcon(item.icon)) {
                  <span class="submenu-item-counter-pill-icon" aria-hidden="true">{{ 'game.contextSubmenu.x' | runtimeTranslate }}</span>
                } @else if (isGraveyardAssetIcon(item.icon)) {
                  <img class="submenu-item-image-icon submenu-item-graveyard-icon" [src]="item.icon" alt="" aria-hidden="true" draggable="false" />
                } @else if (isAssetIcon(item.icon)) {
                  <img class="submenu-item-image-icon" [src]="item.icon" alt="" aria-hidden="true" draggable="false" />
                } @else {
                  <lucide-icon [name]="item.icon" size="17" aria-hidden="true" />
                }
              }
              @if (!item.imageOnly) {
                <span>{{ displayLabel(item) }}</span>
              }
            </span>
            @if (item.children?.length) {
              <span class="submenu-arrow" aria-hidden="true">&rsaquo;</span>
            } @else if (item.shortcut) {
              <kbd>{{ item.shortcut }}</kbd>
            }
          </button>
          @if (item.children?.length && expandedChild() === item.value) {
            <div class="submenu-child-panel" role="menu">
              @for (child of item.children; track child.value) {
                <button
                  type="button"
                  role="menuitem"
                  [disabled]="child.disabled"
                  [class.danger-menu-item]="child.danger"
                  (click)="selectItem($event, child)"
                >
                  <span class="submenu-item-label">
                    @if (child.icon) {
                      @if (isCounterPillIcon(child.icon)) {
                        <span class="submenu-item-counter-pill-icon" aria-hidden="true">{{ 'game.contextSubmenu.x' | runtimeTranslate }}</span>
                      } @else if (isGraveyardAssetIcon(child.icon)) {
                        <img class="submenu-item-image-icon submenu-item-graveyard-icon" [src]="child.icon" alt="" aria-hidden="true" draggable="false" />
                      } @else if (isAssetIcon(child.icon)) {
                        <img class="submenu-item-image-icon" [src]="child.icon" alt="" aria-hidden="true" draggable="false" />
                      } @else {
                        <lucide-icon [name]="child.icon" size="17" aria-hidden="true" />
                      }
                    }
                    <span>{{ displayLabel(child) }}</span>
                  </span>
                  @if (child.shortcut) {
                    <kbd>{{ child.shortcut }}</kbd>
                  }
                </button>
              }
            </div>
          }
        </div>
      }
    </div>
  }
</div>
