@use '../stat-counter/stat-counter.component.scss' as *;

:host {
  position: absolute;
  right: 0.2rem;
  bottom: -0.08rem;
  z-index: 6;
}

:host(.inline-loyalty-counter) {
  position: static;
  inset: auto;
  display: block;
  z-index: auto;
}
