<button
  class="card-face-toggle-button"
  type="button"
  [title]="'deckBuilder.cards.cardImage.flipFace' | runtimeTranslate"
  [attr.aria-label]="'deckBuilder.cards.cardImage.flipFace' | runtimeTranslate"
  (pointerdown)="onPointerDown($event)"
  (mousedown)="onMouseDown($event)"
  (touchstart)="onTouchStart($event)"
  (pointerup)="onPointerUp($event)"
  (mouseup)="onMouseUp($event)"
  (touchend)="onTouchEnd($event)"
  (pointercancel)="onPointerCancel($event)"
  (click)="onClick($event)"
  (contextmenu)="onContextMenu($event)"
>
  <lucide-icon name="rotate-cw" [size]="iconSize()" aria-hidden="true" />
</button>
