<app-card-preview-section
  [title]="'navigation.dashboard.dashboardTopCommanders.title' | runtimeTranslate"
  [subtitle]="'navigation.dashboard.dashboardTopCommanders.subtitle' | runtimeTranslate"
  [viewMoreLabel]="'navigation.dashboard.dashboardTopCommanders.viewMore' | runtimeTranslate"
  [viewMoreLink]="'/community'"
  [footerNote]="'navigation.dashboard.dashboardTopCommanders.communityPopularity' | runtimeTranslate"
  [items]="commanders"
  [showRank]="true"
  ariaLabel="community.dashboardTopCommanders.ariaLabel"
/>
